.games-container{
    display: flex;
    flex-wrap: wrap;

    .pagin-cont{
        width: 100%;
        .pagination-list {
            // width: 100%;
            margin-top: 1rem;
        }
    }
    .button-block{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .favorite{
            background-color: var(--green);
        }
    }
}



