.pagination-list {
  // width: 100%;
  margin-top: 1rem;

  &::ng-deep .page-link {
    background-color: unset;
    border: none;
    padding: 0.3rem 0.75rem;
  }
  &::ng-deep .page-link:hover {
    color: #fff;
  }
  &::ng-deep .active {
    border-radius: 0.125rem;
    background-color: unset;
  }
}