<div class="container-fluid games-container">
  <div class="pagin-cont">
    <ngb-pagination
      [(page)]="page"
      [(pageSize)]="pageSize"
      [(collectionSize)]="collectionSize"
      [maxSize]="10"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      [ngClass]="'pagination-list'"
    ></ngb-pagination>
    <div class="optino-block">
      <div class="ont-el">
        <label for="pageSize-20" class="pageSize" [ngClass]="{'active': pageSize==20}">20</label>
        <input type="radio" name="pageSize" id="pageSize-20" class="radio-hidden" value="20"  checked [(ngModel)]="pageSize">
        <label for="pageSize-40" class="pageSize" [ngClass]="{'active': pageSize==40}">40</label>
        <input type="radio" name="pageSize" id="pageSize-40" class="radio-hidden" value="40" [(ngModel)]="pageSize">
        <label for="pageSize-60" class="pageSize" [ngClass]="{'active': pageSize==60}">60</label>
        <input type="radio" name="pageSize" id="pageSize-60" class="radio-hidden" value="60" [(ngModel)]="pageSize">
      </div>
      <div class="ont-el">
        <label for="sort">Сортировка:</label>
        <input type="checkbox" name="name" id="name" class="d-none checkbox-arrow" [(ngModel)]="sortName" (change)="changeSort()">
        <label for="name" class="arrowSort">Имя</label>
      </div>
      <div class="ont-el">
        <label for="fav">Сначала фавориты</label>
        <input type="checkbox" name="fav" id="fav" [(ngModel)]="sortFav" (change)="sortingFav()">
      </div>
      <div class="ont-el">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search" (input)="searching()">
    </div>
    <div class="ont-el">
      <label for="fav">Фильтр:</label>
      <input type="checkbox" name="filter" [(ngModel)]="filter" (change)="changeFilter()" value="16">Slots
      <input type="checkbox" name="filter" [(ngModel)]="filter" (change)="changeFilter()" value="38">Multi Player Games
    </div>
    </div>
  </div>

  <div
    class="card m-2"
    *ngFor="
      let game of gamesList
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize"
  >
    <img src="{{ game.ImageFullPath }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ game.Name.en }}</h5>
      <div class="button-block">
        <a href="#" class="btn btn-primary">Play</a>
        <button href="#" class="btn btn-primary" (click)="addFavorite(game)" [ngClass]="{favorite: game.Favorite}">Favorite</button>
      </div>
      
    </div>
  </div>
  <div class="pagin-cont">
    <ngb-pagination
      [(page)]="page"
      [(pageSize)]="pageSize"
      [(collectionSize)]="collectionSize"
      [maxSize]="10"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      [ngClass]="'pagination-list'"
    ></ngb-pagination>
    <div class="optino-block">
      <div class="ont-el">
        <label for="pageSize-20" class="pageSize" [ngClass]="{'active': pageSize==20}">20</label>
        <input type="radio" name="pageSize" id="pageSize-20" class="radio-hidden" value="20"  checked [(ngModel)]="pageSize">
        <label for="pageSize-40" class="pageSize" [ngClass]="{'active': pageSize==40}">40</label>
        <input type="radio" name="pageSize" id="pageSize-40" class="radio-hidden" value="40" [(ngModel)]="pageSize">
        <label for="pageSize-60" class="pageSize" [ngClass]="{'active': pageSize==60}">60</label>
        <input type="radio" name="pageSize" id="pageSize-60" class="radio-hidden" value="60" [(ngModel)]="pageSize">
      </div>
      <div class="ont-el">
        <label for="sort">Сортировка:</label>
        <input type="checkbox" name="name" id="name-1" class="d-none checkbox-arrow" [(ngModel)]="sortName" (change)="changeSort()">
        <label for="name-1" class="arrowSort">Имя</label>
      </div>
      <div class="ont-el">
        <label for="fav">Сначала фавориты</label>
        <input type="checkbox" name="fav" id="fav" [(ngModel)]="sortFav" (change)="sortingFav()">
      </div>
    </div>
  </div>
</div>
