<div class="container-fluid games-container">
  <ngb-pagination
    [(page)]="page"
    [(pageSize)]="pageSize"
    [(collectionSize)]="collectionSize"
    [maxSize]="10"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
  <div
    class="card m-2"
    style="width: 18rem;"
    *ngFor="let game of gamesList | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
    "
  >
    <img src="{{ game.ImageFullPath }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ game.Name.en }}</h5>
      <a href="#" class="btn btn-primary">Game</a>
    </div>
  </div>
</div>
