
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    background-image: url(/assets/dark-stone-wall.gif); }

.games-container {
  display: flex;
  flex-wrap: wrap;

  .pagin-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .optino-block {
      display: flex;
      flex-wrap: wrap;

      .ont-el {
        margin-left: 15px;
        display: flex;
        align-items: center;

        .arrowSort {
          position: relative;

          &::before {
            content: "↑";
            position: absolute;
            right: -11px;
            top: -2px;
            font-size: 0.8rem;
          }
        }

        .checkbox-arrow:checked + .arrowSort::before {
          transform: rotate(180deg);
          top: 0px;
        }

        .radio-hidden {
          display: none;
        }

        .pageSize {
          position: relative;
          display: block;
          padding: 0.4rem;
          line-height: 1.25;
          font-size: 1rem;
          color: var(--light);
          cursor: pointer;

          &.active {
            color: #007bff;
          }
        }

        label {
          margin-bottom: 0px;
          margin-right: 10px;
          color: var(--light);
        }
      }
    }

    .form-control {
      height: calc(1em + 0.75rem + 2px);
    }
  }
  .card {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: unset;
    width: 15.8%;

    .card-title {
      font: 400 calc(16px * 0.83) / 20px Roboto, "Helvetica Neue", sans-serif;
      margin: 0 0 18px;
      text-align: center;
      color: #fff;
    }

    .button-block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .favorite {
        background-color: var(--green);
        border: none;
      }
    }
  }

  .filter {
    position: relative;
    z-index: 10;

    span {
      color: var(--light);
    }

    .filter-btn{
      border-radius: 5px;
      background-color: #343a40;
      color: var(--light);
      border: none;
      padding: 5px 10px;

      &.active{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &:focus{
        outline: none;
      }
    }

    .container-list-filter {
      max-height: 0px;
      overflow: auto;
      position: absolute;
      width: 200px;

      &.active{
        max-height: fit-content;
      }

      .filter-list {
        width: 100%;
        padding: 6px 10px;
        background-color: #343a40;
        border-radius: 5px;
        border-top-left-radius: 0px;

        .filter-el {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          label {
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

